In [1]:
# 13132911 - Niall Dillane - Lab 1

In [2]:
squares_list = [0, 1, 4, 9, 16, 25]

In [3]:
squares_list

[0, 1, 4, 9, 16, 25]

In [4]:
squares_list[0]

0

In [5]:
squares_list[2:4]

[4, 9]

In [6]:
squares_list[-2]

16

In [7]:
greeting = 'Hello'
print(greeting[1])
print(len(greeting))
print(greeting + ' World')

e
5
Hello World

In [8]:
stmt = r'\n is the newline character by default.'
print(stmt)

\n is the newline character by default.

In [9]:
greeting[1:] = 'i'

TypeError: 'str' object does not support item assignment

In [10]:
tuple_example = 0, 1, 4, 9, 16, 25

In [11]:
tuple_example

(0, 1, 4, 9, 16, 25)

In [12]:
tuple_example[2]

4

In [13]:
tuple_example[2] = 6

TypeError: 'tuple' object does not support item assignment

In [14]:
extensions = {'Kunal': 9073, 'Tavish': 9128, 'Sunil': 9223, 'Nitin': 9330}
extensions

{'Kunal': 9073, 'Tavish': 9128, 'Sunil': 9223, 'Nitin': 9330}

In [15]:
extensions['Mukesh'] = 9150
extensions

{'Kunal': 9073, 'Tavish': 9128, 'Sunil': 9223, 'Nitin': 9330, 'Mukesh': 9150}

In [16]:
extensions.keys()

dict_keys(['Kunal', 'Tavish', 'Sunil', 'Nitin', 'Mukesh'])

In [17]:
sum = 1
for i in range(1,11):
  sum *= i
sum

3628800

In [18]:
import math as m

In [19]:
m.factorial(10)

3628800